@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");


body {
  font-family: "Nunito", sans-serif;
  padding-top: 60px;
  margin: 0;
  padding: 0;
  background-color: #f89cd5;

}


/* Navigation Bar*/
.nav-container {
  width: 100%;
}

nav {
  max-width: 1720px; /* ensures the max size */
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* here the 1fr is a fraction of our previous max-width, auto can size accordingly */
}

.left-menu {
  grid-column: 1;
}

.logo {
  grid-column: 2;
}

.nav-container {
  width: 100%;
  background: #f89cd5;
}

#nav-toggle,
.burger-menu {
  display: none;
}



nav a {
  color: white;
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
}

.logo {
  font-size: 40px;
  padding: 1.125rem;
}

.left-menu a {
  padding: 12px 0;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
}
.left-menu {
  grid-column: 1;
  align-self: center;
}

.burger-menu {
  grid-column: 1;
  align-self: center;
  margin-left: 20px;
}

nav a {
  color: white;
  text-shadow: transparent;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
}
nav a:hover {
  color: #ea1c2c;
}

/* Landing Area */
.landing {
  display: grid;
  grid-template-areas:
    "headingL imageL"
    "headingL imageL"
    "headingL imageL";
  text-align: center;
  grid-gap: 10px;
  padding: 10px;
  font-family: "Nunito" sans-serif;
  font-weight: 100;
  color: white;
}


.landingHeader {
  margin-top: 50px;
  padding: 100px;
  grid-area: headingL;
  text-align: center;
  font-size: 30px;
}

.landing-image {
  grid-area: imageL;
  text-align: center;
  padding: 100px;
}

.landingHeader p {
  color: white;
}
.landingHeader h1 {
  color: #ea1c2c;
  font-weight: 100;
  font-size: 4rem;
}

/* About Section*/
.about {
  display: grid;
  grid-template-areas:
    "image header"
    "image content"
    "image content"
    "image content";
    
  grid-gap: 10px;
  background-color: white;
  font-family: "Nunito" sans-serif;
  font-weight: 100;
  font-size: 1.4em;
}

.heading {
  margin-top: 50px;
  grid-area: header;
  text-align: center;
  font-weight: 100;
  font-size: 20px;
  color:#ea1c2c;
}

.about-image {
  grid-area: image;
  text-align: center;
  padding: 100px;
}
.about-content {
  margin: 10px;
  grid-area: content;
  text-align: center;
  padding: 20px 0;
}




/* GALLERY */
.gallery-container{
  display: flex;
  max-width: 1200px;
  margin: auto;
  background-color: #f89cd5;
  overflow: auto;
  text-align: center;
  font-weight: 100;
  flex-wrap: wrap;
 flex-direction: column;
  justify-content: center;
  width:100%;
  padding:5px;
}

.gallery-header h1{
  margin-top: 50px;
  padding: 100px;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  color:#ea1c2c;
  
}

.gallery-header p{
  text-align: center;
  font-weight: 100;
  font-size:30px;
  color:white;
  margin:10px;
  padding:10px;
  
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }

.column{
  padding: 5px;
}

.hidden{
  display : none;
  }

 /* FORM OUTLINE */
  .form-container{
  background:white;
  color:#f355b7;
  line-height:1.6;
  font-family: "Nunito" sans-serif;
  font-weight: 100;
  padding-top: 1em;
  padding-bottom:1em;
  width: 100%;
 } 
.container{
  max-width:1170px;
  margin-left:auto;
  margin-right:auto;
  padding:1em;
  
}

ul{
  list-style: none;
  padding:0;
}

.brand{
  text-align: center;
}

.brand span{
  color:#ea1c2c;
}

.contact-info span{
  color:#ea1c2c;
}

.wrapper{
  box-shadow: 0 0 30px 0 rgba(255,20,147, 0.7);
}

.wrapper > *{
  padding: 1em;
}

.contact-info{
  background:#ffddf4;
}

.contact-info h3, .contact-info ul{
  text-align: center;
  margin:0 0 1rem 0;
}
.contact{
  background:#f9feff;
}

/* FORM STYLES */
.contact form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
  padding-bottom: 20px;
}

.contact form label{
  display:block;
}

.contact form p{
  margin:0;
}

.contact form .full{
  grid-column: 1 / 3;
}

.contact form button, .contact form input, .contact form textarea{
  width:100%;
  padding:1em;
  border:1px solid ;
}

.contact form button{
  background:Gainsboro;
  color:#f355b7;
  border:0;
  text-transform: uppercase;
}

.contact form button:hover,.contact form button:focus{
  background:#f355b7;
  color:white;
  outline:0;
  transition: background-color 3s ease-out;
}

/* LARGE SCREENS */
@media(min-width:700px){
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > *{
    padding:2em;
  }

  .contact-info h3, .contact-info ul, .brand{
    text-align: left;
  }
}

.footer{
  text-align: center;
  margin: auto;
  padding-top: 10px;
}

.footer a{
  text-align: center;
  color: black;
  text-decoration: none;
}

.footer span{
  color:#ea1c2c;
  font-size: 1.25rem;
}

.usrForm button{
  padding:5px;
}






/* Media Queries*/
@media only screen and (max-width: 1200px) {
  .burger-menu {
    display: inline-block;
  }

  .left-menu {
    display: none;
  }

   #nav-toggle:checked ~ .left-menu {
    display: grid;
    grid-row: 2;
  }
  .logo {
    font-size: 25px;
    padding: 1rem;
  }
}



@media only screen and (max-width: 1400px) {
  .landing {
    display: grid;
    grid-template-areas: 
    "imageL "
    "headingL";
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1025px) {
  .landingHeader  {
    padding: 0px;
    margin: auto;
  } 
  .landingHeader h1{
    font-size: 1.6;
  }
  .landingHeader p{
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 1025px) {
  .landing-image  {
    padding: 5px;
    margin: auto;
  }
}

@media only screen and (max-width: 1025px) {
    img.responsive { width: 350px; }
    img.responsive { height: auto; }
}


@media only screen and (max-width: 1025px) {
  .about {
    display: grid;
    grid-template-areas: 
    "image"
    "header"
    "content";
  }
}

@media only screen and (max-width: 1025px) {
  .about-image  {
    padding: 10px;
  } 
  .about-content{
    font-size: 1.125rem;
  }
  .heading {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 1025px) {
.form-container {
    width: 100%;
    margin: auto;
    padding: auto;
  } 
  .about{
    width:100%;
    margin: auto;
    padding: auto;
  }
  .contact *{
    width:90%;
  }
}
@media(min-width:700px){
  .form-container{
    width: auto;
  }
  
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > *{
    padding:2em;
  }

  .contact-info h3, .contact-info ul, .brand{
    text-align: left;
  }
}



