@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");





body {
  font-family: "Nunito", sans-serif;
  padding-top: 60px;
  margin: 0;
  padding: 0;
  background-color: #f89cd5;
}

.nav-container {
  width: 100%;
}

nav {
  max-width: 1720px; /* ensures the max size */
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr auto 1fr; /* here the 1fr is a fraction of our previous max-width, auto can size accordingly */
}

.left-menu {
  grid-column: 1;
}

.logo {
  grid-column: 2;
}

.nav-container {
  width: 100%;
  background: #f89cd5;
}

#nav-toggle,
.burger-menu {
  display: none;
}

@media only screen and (max-width: 1025px) {
  .burger-menu {
    display: inline-block;
  }

  .left-menu {
    display: none;
  }
}

.burger-menu {
  width: 40px;
}

nav a {
  color: white;
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
}

.logo {
  font-size: 40px;
  padding: 1.125rem;
}

.left-menu a {
  padding: 12px 0;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
}
.left-menu {
  grid-column: 1;
  align-self: center;
}

.burger-menu {
  grid-column: 1;
  align-self: center;
  margin-left: 20px;
}

nav a {
  color: white;
  text-shadow: transparent;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
}
nav a:hover {
  color: #ea1c2c;
}

#aboutSection {
  background-color: white;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
  padding: 0;
}

.landing {
  display: grid;
  grid-template-areas:
    "headingL imageL"
    "headingL imageL"
    "headingL imageL";
  text-align: center;
  grid-gap: 10px;
  padding: 10px;
  font-family: "Nunito" sans-serif;
  font-weight: 100;
  color: white;
}


.landingHeader {
  margin-top: 50px;
  padding: 100px;
  grid-area: headingL;
  text-align: center;
  font-size: 30px;
}

.landing-image {
  grid-area: imageL;
  text-align: center;
  padding: 100px;
}

.landingHeader p {
  color: white;
}
.landingHeader h1 {
  color: #ea1c2c;
  font-weight: 100;
  font-size: 4rem;
}


.about {
  display: grid;
  grid-template-areas:
    "image header"
    "image content"
    "image content"
    "image content";
    
  grid-gap: 10px;
  background-color: white;
}

.heading {
  margin-top: 50px;
  grid-area: header;
  text-align: center;
  
  font-size: 20px;
  color:#ea1c2c;
}

.about-image {
  grid-area: image;
  text-align: center;
  padding: 100px;
}
.about-content {
  margin: 10px;
  grid-area: content;
  text-align: center;
  padding: 20px 0;
}





.gallery-container{
  display: flex;
  max-width: 1200px;
  margin: auto;
  background-color: #f89cd5;
  overflow: auto;
  text-align: center;
  font-weight: 100;
  flex-wrap: wrap;
 flex-direction: column;
  justify-content: center;
}

.gallery-header h1{
  margin-top: 50px;
  padding: 100px;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  color:#ea1c2c;
  
}

.gallery-header p{
  text-align: center;
  font-weight: 100;
  font-size:30px;
  color:white;
  margin:10px;
  padding:10px;
  
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }

.column{
  padding: 5px;
}

.hidden{
  display : none;
  }
  
.form-container{
  background-color: white;
}

.form-container h1{
  margin-top: 50px;
  padding: 100px;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  color:#ea1c2c;
}


.form-container input, textarea{
  width:80%;
  padding: 10px;
  margin:1px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  background-color: #d4d4d4;
  font-family: Arial, Helvetica, sans-serif;
}

.form-container input{
  height:50px;
  padding:5px;
}

.form-container placeholder{
  vertical-align: text-top;
}

.usrForm form{
  padding:20px;
  text-align: center;
  resize: vertical;
}

 .usrForm textarea {
  width: 80%;
  height: 200px;
}

.footer{
  text-align: center;
  margin: auto;
  padding: 10px;
}

.footer a{
  text-align: center;
  color: black;
  text-decoration: none;
}

.footer span{
  color:#ea1c2c;
  font-size: 1.25rem;
}

.usrForm button{
  padding:5px;
}

@media only screen and (max-width: 1200px) {
  .burger-menu {
    display: inline-block;
  }

  .left-menu {
    display: none;
  }

   #nav-toggle:checked ~ .left-menu {
    display: grid;
    grid-row: 2;
  }
}

@media only screen and (max-width: 1400px) {
  .landing {
    display: grid;
    grid-template-areas: 
    "imageL "
    "headingL";
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1025px) {
  .landingHeader  {
    padding: 0px;
    margin: auto;
  } 
  .landingHeader h1{
    font-size: 1.6;
  }
  .landingHeader p{
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 1025px) {
  .landing-image  {
    padding: 5px;
    margin: auto;
  }
}

@media only screen and (max-width: 1025px) {
    img.responsive { width: 350px; }
    img.responsive { height: auto; }
}


@media only screen and (max-width: 1025px) {
  .about {
    display: grid;
    grid-template-areas: 
    "image"
    "header"
    "content";
  }
}

@media only screen and (max-width: 1025px) {
  .about-image  {
    padding: 10px;
  } 
  .about-content{
    font-size: 1.125rem;
  }
  .heading {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 1025px) {
.form-container {
    width: 100%;
  } 
  #about-section{
    width:100%;
  }
}



