@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

html,
body {
  height: 100%;
}

body {
  font-family: "Nunito", sans-serif;
  padding-top: 60px;
  background-color: #f89cd5;
  margin: 0;
  padding: 0;
}

.nav-container {
  width: 100%;
}

nav {
  max-width: 1720px; /* ensures the max size */
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr auto 1fr; /* here the 1fr is a fraction of our previous max-width, auto can size accordingly */
}

.left-menu {
  grid-column: 1;
}

.logo {
  grid-column: 2;
}

.nav-container {
  width: 100%;
  background: #f89cd5;
}

#nav-toggle,
.burger-menu {
  display: none;
}

@media only screen and (max-width: 1025px) {
  .burger-menu {
    display: inline-block;
  }

  .left-menu {
    display: none;
  }
}

.burger-menu {
  width: 40px;
}

@media only screen and (max-width: 1025px) {
  .burger-menu {
    display: inline-block;
  }

  .left-menu {
    display: none;
  }

  #nav-toggle:checked ~ .left-menu {
    display: grid;
    grid-row: 2;
  }
}
nav a {
  color: white;
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
}

.logo {
  font-size: 40px;
  padding: 1.125rem;
}

.left-menu a {
  padding: 12px 0;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
}
.left-menu {
  grid-column: 1;
  align-self: center;
}

.burger-menu {
  grid-column: 1;
  align-self: center;
  margin-left: 20px;
}

nav a {
  color: white;
  text-shadow: transparent;
  text-transform: uppercase;
  font-family: "Bebas Neue", cursive;
}
nav a:hover {
  color: #ea1c2c;
}
#aboutSection {
  background-color: white;
  font-weight: 100;
  font-size: 1.3rem;
  line-height: 2;
  padding: 0;
}

.about {
  display: grid;
  grid-template-areas:
    "image header"
    "image content"
    "image content";
  grid-gap: 10px;
  padding: 10px;
  background-color: white;
}

.heading {
  margin-top: 50px;
  padding: 100px;
  grid-area: header;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.about-image {
  grid-area: image;
  text-align: center;
  padding: 100px;
}
.content {
  margin: 10px;
  grid-area: content;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.landing {
  display: grid;
  grid-template-areas:
    "headingL imageL"
    "headingL imageL"
    "headingL imageL";
  text-align: center;
  grid-gap: 10px;
  padding: 10px;
  font-family: "Nunito" sans-serif;
  font-weight: 100;
  color: white;
}
.landingHeader {
  margin-top: 50px;
  padding: 100px;
  grid-area: headingL;
  text-align: center;
  font-size: 30px;
}

.landing-image {
  grid-area: imageL;
  text-align: center;
  padding: 100px;
}

.landingHeader p {
  color: white;
}
.landingHeader h1 {
  color: #ea1c2c;
  font-weight: 100;
  font-size: 4rem;
}
